@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf");
  font-display: swap;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0c111a;
  font-family: Montserrat;
}

html,
body,
#root {
  margin: 0;
  padding: 0;

  /* max-height: 100%; */
  max-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.explore-marketplace-btn {
  background: conic-gradient(
      from 180deg at 50% 50%,
      #23aee3 0deg,
      #867cda 69.37deg,
      #9b71d8 155.62deg,
      #fd3dce 260.62deg,
      #23aee3 360deg
    ),
    linear-gradient(
      90deg,
      rgba(35, 174, 227, 0.2) 0%,
      rgba(155, 113, 216, 0.2) 52.08%,
      rgba(253, 61, 206, 0.2) 100%
    );

  backdrop-filter: blur(36px);
  border: 1px solid;

  border-radius: 6px;
  border: 1px solid;

  border-image-source: conic-gradient(
    from 180deg at 50% 50%,
    #23aee3 0deg,
    #867cda 69.37deg,
    #9b71d8 155.62deg,
    #fd3dce 260.62deg,
    #23aee3 360deg
  );
}

.react-multi-carousel-list {
}
.react-multi-carousel-track {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.text-shadow {
  text-shadow: 0px 0px 36px rgba(255, 255, 255, 0.8);
}
.text-shadow-2 {
  text-shadow: 0px 0px 4px rgba(35, 174, 227, 0.8);
}
.vertical-line {
  border: 1px solid;
  border-color: radial-gradient(
    72.64% 5101250.17% at 44.34% -1450.36%,
    #4b5d80 0%,
    rgba(15, 20, 33, 0) 100%
  );

  /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
}
.price-rate {
  background: rgba(48, 165, 81, 0.15);
  border-radius: 8px;
}
.overlay {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(0deg, #0c111a 32.08%, rgba(12, 17, 26, 0) 93.66%);
}
.overlay2 {
  background: rgba(12, 17, 26, 0.75);
  backdrop-filter: blur(15px);
}
.carouselItem2 {
  margin-right: 150px;
}
.carouselItem {
  margin-right: 5px;
}
.overlay-carousel {
  background: #0c111a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 0;
}
.react-multiple-carousel__arrow::before {
  font-size: 20px;
  color: black !important;
  display: block;
  font-family: revicons;
  text-align: center;
  z-index: 2;
  position: relative;
}
.react-multiple-carousel__arrow:hover {
  background: white !important;
}
.react-multiple-carousel__arrow {
  background: white !important;
}

.collection-card-container {
  background: linear-gradient(
      0deg,
      rgba(20, 27, 50, 0.3),
      rgba(20, 27, 50, 0.3)
    ),
    linear-gradient(
      235.66deg,
      rgba(153, 163, 245, 0.6) 0%,
      rgba(168, 168, 168, 0) 70.29%
    );
  border: 0.5px solid;

  /* border-image-source: linear-gradient(235.66deg, rgba(153, 163, 245, 0.6) 0%, rgba(168, 168, 168, 0) 70.29%); */

  background: rgba(20, 27, 50, 0.3);
  backdrop-filter: blur(24px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 16px;
}

.hero-button {
  /* Component - Button */
  box-sizing: border-box;
  /* Auto layout */
  justify-content: center;
  align-items: center;
  /* Positioning */
  background: linear-gradient(
    90deg,
    rgba(35, 174, 227, 0.2) 0%,
    rgba(155, 113, 216, 0.2) 52.08%,
    rgba(253, 61, 206, 0.2) 100%
  );
  backdrop-filter: blur(36px);
  /* Note: backdrop-filter has minimal browser support */
  border-color: #fd3dce;
  border-radius: 6px;
}

.top-collection {
  background-image: url(./assets/images/Ellipse\ 2.png);
  background-position: left;
  background-repeat: no-repeat;
}

.nft-item {
  background-image: url(./assets/images/Ellipse\ 2.png);
  background-position: left top;
  background-repeat: no-repeat;
}
.nft-item-center {
  background-image: url(./assets/images/Ellipse\ 2.png);
  background-position: right center;
  background-repeat: no-repeat;
}
.collection-spotlight {
  background-image: url(./assets/images/Ellipse\ 2.png);
  background-repeat: no-repeat;
}
.createnft {
  background-image: url(./assets/images/Ellipse\ 3.png);

  background-repeat: no-repeat;
}
.recommededcreator {
  background-image: url(./assets/images/bluegradient.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.creators {
  background-position: left;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.hero-section {
  background-image: url(./assets/images/Hero\ Section\ Pattern.svg);
  background-position: center left;
  background-repeat: no-repeat;
}
.popularcategory {
  background-image: url(./assets/images/Category\ BG.svg);
  background-position: initial;
  background-repeat: no-repeat;
}
.collection {
  background-image: url(./assets/images/Ellipse.png);
  background-repeat: no-repeat;
}
.vertical {
}
.background-linear-gradient {
  background: linear-gradient(90deg, #23aee3 0%, #9b71d8 52.08%, #fd3dce 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.background-linear-gradient {
  background: linear-gradient(90deg, #23aee3 0%, #9b71d8 52.08%, #fd3dce 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.btn-background {
  background: linear-gradient(90deg, #23aee3 0%, #9b71d8 52.08%, #fd3dce 100%);
  box-shadow: 0px 8px 16px rgba(155, 113, 216, 0.4);
  border-radius: 8px;
}
.secondary-btn-background {
  background: linear-gradient(
    90deg,
    rgba(35, 174, 227, 0.2) 0%,
    rgba(155, 113, 216, 0.2) 52.08%,
    rgba(253, 61, 206, 0.2) 100%
  );
  backdrop-filter: blur(36px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 6px;
}

.collection-card {
  background-image: url("./assets/images/Ellipse\ 6.png");
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 6.48649px 6.48649px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(24px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.collection-card-title {
  font-size: 16px;
  line-height: 31px;
}

.nft-card {
  background: rgba(18, 26, 35, 0.2);
  box-shadow: 0px 8px 36px rgba(132, 145, 179, 0.18);
  backdrop-filter: blur(24px);
  border-radius: 16px;
}

.nft-card-price {
  background: linear-gradient(
    90deg,
    #23aee3 0%,
    #9b71d8 37.94%,
    #fd3dce 71.77%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
}

.user-card {
  border: 0.5px solid rgba(168, 168, 168, 0.1);
}

/* Collection page */

.collection-follow {
  background: rgba(18, 26, 35, 0.3);
  backdrop-filter: blur(24px);
}

/* Popular category */
.popular-card {
  background: linear-gradient(0deg, #0c111a 35.25%, rgba(12, 17, 26, 0) 84.53%);
  box-shadow: 0px 40px 76px -32px rgba(132, 145, 179, 0.7);
  backdrop-filter: blur(24px);
  border: 1px solid;

  border: conic-gradient(
    from 180deg at 50% 50%,
    #23aee3 0deg,
    #867cda 69.37deg,
    #9b71d8 155.62deg,
    #fd3dce 260.62deg,
    #23aee3 360deg
  );
}
/* Collection Tab*/
.collections-tab-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 30%;

  padding-bottom: 20px;
}
.collections-tab-group .collection-tab-active {
  background: transparent;
  cursor: pointer;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #23aee3;
  border: none;
  outline: none;
  padding-bottom: 20px;
  border-bottom: 2px solid #23aee3;
}
.collections-tab-group .collection-tab-non-active {
  background: transparent;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
  border: none;
  outline: none;

  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.collections-tab-group-light .collection-tab-non-active {
  background: transparent;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.collections-tab-group .collection-tab-non-active:hover {
  color: #23aee3;
}

.preview-box {
  background: rgba(18, 26, 35, 0.2);
  box-shadow: 0px 8px 36px rgba(132, 145, 179, 0.18);

  border-radius: 16px;
}
